.curseclient
eula.txt
imgui.ini
launcher_profiles.json
minecraftinstance.json
options.txt
patchouli_data.json
reauth.toml
rhino.local.properties
servers.dat
TlauncherProfiles.json
usercache.json
usernamecache.json 
worlds.json
versions 
backup 
backups 
crash-reports 
local 
logs 
profileImage
runtime 
saves 
screenshots 
tlauncher_libraries 
libraries
esm
config/byg/backups/last_working_configs_backup.zip
WailaErrorOutput.txt 
lightspeed-cache
servers.dat_old
*.jar
resourcepacks/Quark Programmer Art.zip
*.disabled
fancymenu_data/last_world.fmdata
config/jei/world
config/jei/world/local/Nouveau_monde/bookmarks.ini
/config/byg/backups
config/fpsreducer/player-3febf6db32b80203d2a0587f3e617039.toml
